<th:block>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <a href="/"><img class="navbar-icon" src="/img/nav-icon.png" alt="photo"/></a>
            <div class="container-fluid">
                <a href="http://gorilla.bg/product/819/kur-keep-yourself-positive.html" class="text-info">KYP</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="navbarDropdown"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Branches</a></li>
                                <li><a class="dropdown-item" href="#">Safes</a></li>
                                <li><a class="dropdown-item" href="#">ATMs</a></li>
                                <li><a class="dropdown-item" href="#">Cards</a></li>
                                <li><a class="dropdown-item" href="#">Employees</a></li>
                                <li><a class="dropdown-item" href="#">Bank Accounts</a></li>
                                <li><a class="dropdown-item" href="#">Users</a></li>
                                <li><a class="dropdown-item" href="#">Transactions</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Utility Bills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Locations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"
                            >Welcome, User</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</th:block>